.flex{
  display: flex;
  justify-content: space-between;
}


.flexNormal{
  display: flex;
  justify-content: left;
}
.thumb{
  width: 240px;
  height: 120px;
}

.name{
   font-size: 14px;
}
.marginLeft20{
  font-size: 14px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.courseAdd{
  display: flex;

}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.preview{
  width:400px;
  height: 225px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}

.previewIcon{

}

.fontSiz20{
  font-size: 20px;
}