.flex{
  display: flex;
  justify-content: space-between;
}

.flex-align-center{
  display: flex;
  align-items: center;
  flex-direction:column;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.margin40{
  margin: 40px 0;
}

.image-hover{
  border:1px dashed;
  cursor: pointer;
}
.image-hover:hover{
  border:1px dashed blue;
}

.image-input{
  width:200px;
  height: 200px;
  border: 1px dashed;
  cursor: pointer;
  &:hover{
    border: 1px dashed blue;
  }
}


.active{
  border: 1px dashed blue;
}